<header>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header" style="height: 40px">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
	      <a class="navbar-brand" href="/form/">STUDENT FORM</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-right">
					{% if request.user.is_superuser %}
					<li><a href="{% url 'ci_list' %}">All CIs</a></li>
					<li><a href="{% url 'add_ci' %}">Add CI</a></li>
					{% endif %}
					<li><a href="{% url 'students' %}">All Students</a></li>
					<li><a href="{% url 'add_student' %}">Add Student</a></li>
					<li><a href="{% url 'password_change' %}">Change Password</a></li>
	        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
</header>