{% extends 'form/base.html' %}

{% block content %}

{% load static %}

<body>

	<script type="text/javascript">

		function openPopUp(url){
			if (! window.focus) return true;
			var href = url; //link 
			var win = window.open(href, "Edit Popup", 'width=600,height=300, left=250,scrollbars=yes');
			win.onload = function() {
				win.onbeforeunload = function(){
					location.reload(true); //will refresh page after popup close
				}
			}
			return false;
		}

	</script>
	
	{% include 'form/navigation.html' %}

	<main>
		<div class="row" style="margin: 20px;">

		<!--PERSONAL DETAILS-->
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="row">
					<div class="col-xs-6">
						<h3>Personal Details</h3>
					</div>
					<div class="col-xs-3" style="padding-top: 10px;text-align: right;">
						<a href="/form/edit_student/{{ student.pk }}" class="btn btn-success">EDIT</a>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<ul class="list-group">
						  <li class="list-group-item row2">
						  	<div class="row">
									<div class="col-xs-6">
										<span class="info_header">Active: </span>
									</div>
									<div class="col-xs-6">
										<span class="info_value">
											{% if student.active %}
												Active
											{% else %}
												Inactive
											{% endif %}
										</span>
									</div>
								</div>	
						  </li>
						  <li class="list-group-item row1">
						  	<div class="row">
									<div class="col-xs-6">
										<span class="info_header">STUDENT ID:</span>
									</div>
									<div class="col-xs-6">
										<span class="info_value">{{ student.pk }}</span>
									</div>
								</div>	
						  </li>
						  <li class="list-group-item row2">
						  	<div class="row">
								<div class="col-xs-6">
									<span class="info_header">STUDENT NAME:</span>
								</div>
								<div class="col-xs-6">
									<span class="info_value">{{ student.name|upper }}</span>
								</div>
							</div>	
						  </li>
						  <li class="list-group-item row1">
						  	<div class="row">
								<div class="col-xs-6">
									<span class="info_header">GENDER:</span>
								</div>
								<div class="col-xs-6">
									<span class="info_value">{{ student.gender|upper }}</span>
								</div>
							</div>
						  </li>
						  <li class="list-group-item row2">
						  	<div class="row">
								<div class="col-xs-6">
									<span class="info_header">CI:</span>
								</div>
								<div class="col-xs-6">
									<span class="info_value">{{ student.getCi }}</span>
								</div>
							</div>
						  </li>
						  <li class="list-group-item row1">
						  	<div class="row">
								<div class="col-xs-6">
									<span class="info_header">DATE OF ENROLLEMENT:</span>
								</div>
								<div class="col-xs-6">
									<span class="info_value">{{ student.doe|date:"d/m/Y" }}</span>
								</div>
							</div>
						  </li>
						  <li class="list-group-item row2">
						  	<div class="row">
								<div class="col-xs-6">
									<span class="info_header">DOB:</span>
								</div>
								<div class="col-xs-6">
									<span class="info_value">{{ student.dob|date:"d/m/Y" }}</span>
								</div>
							</div>
						  </li>
						  <li class="list-group-item row1">
						  	<div class="row">
								<div class="col-xs-6">
									<span class="info_header">CLASS:</span>
								</div>
								<div class="col-xs-6">
									<span class="info_value">{{ student.clas }}</span>
								</div>
							</div>
						  </li>
						  <li class="list-group-item row2">
						  	<div class="row">
								<div class="col-xs-6">
									<span class="info_header">SCHOOL NAME:</span>
								</div>
								<div class="col-xs-6">
									<span class="info_value">{{ student.school|upper }}</span>
								</div>
							</div>
						  </li>
						  <li class="list-group-item row1">
						  	<div class="row">
								<div class="col-xs-6">
									<span class="info_header">ADHAAR NO.:</span>
								</div>
								<div class="col-xs-6">
									<span class="info_value">{{ student.adhaar }}</span>
								</div>
							</div>
						  </li>
						  <li class="list-group-item row2">
						  	<div class="row">
								<div class="col-xs-6">
									<span class="info_header">ADDRESS:</span>
								</div>
								<div class="col-xs-6">
									<span class="info_value">{{ student.address | upper }}</span>
								</div>
							</div>
						  </li>
						  <li class="list-group-item row1">
						  	<div class="row">
								<div class="col-xs-6">
									<span class="info_header">FATHER'S NAME:</span>
								</div>
								<div class="col-xs-6">
									<span class="info_value">{{ student.father_name|upper }}</span>
								</div>
							</div>
						  </li>
						  <li class="list-group-item row2">
						  	<div class="row">
								<div class="col-xs-6">
									<span class="info_header">FATHER'S OCCUPATION:</span>
								</div>
								<div class="col-xs-6">
									<span class="info_value">{{ student.occupation_father|upper }}</span>
								</div>
							</div>
						  </li>
						  <li class="list-group-item row1">
						  	<div class="row">
								<div class="col-xs-6">
									<span class="info_header">FATHER'S MOBILE NO.:</span>
								</div>
								<div class="col-xs-6">
									<span class="info_value">{{ student.mobile_f }}</span>
								</div>
							</div>
						  </li>
						  <li class="list-group-item row2">
						  	<div class="row">
								<div class="col-xs-6">
									<span class="info_header">MOTHER'S NAME:</span>
								</div>
								<div class="col-xs-6">
									<span class="info_value">{{ student.mother_name|upper }}</span>
								</div>
							</div>
						  </li>
						  <li class="list-group-item row1">
						  	<div class="row">
								<div class="col-xs-6">
									<span class="info_header">MOTHER'S OCCUPATION:</span>
								</div>
								<div class="col-xs-6">
									<span class="info_value">{{ student.occupation_mother|upper }}</span>
								</div>
							</div>
						  </li>
						  <li class="list-group-item row2">
						  	<div class="row">
								<div class="col-xs-6">
									<span class="info_header">MOTHER'S MOBILE NO.:</span>
								</div>
								<div class="col-xs-6">
									<span class="info_value">{{ student.mobile_m }}</span>
								</div>
							</div>
						  </li>
						  <li class="list-group-item row1">
						  	<div class="row">
								<div class="col-xs-6">
									<span class="info_header">ANNUAL INCOME:</span>
								</div>
								<div class="col-xs-6">
									<span class="info_value">{{ student.annual_income }}</span>
								</div>
							</div>
						  </li>
						</ul>
					</div>
				</div>
			</div>

			<!--course details-->
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

				<div class="row">
					<div class="col-xs-6">
						<h3>Course Details</h3>
					</div>
					<div class="col-xs-6" style="padding-top: 10px;text-align: right;">
						<button type="button" class="btn btn-success" onclick="openPopUp('{% url 'add_course' student_id=student.student_id %}')">ADD COURSE</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<ul class="list-group" id="courses">
							{% for course in student.course_set.all %}
							  <li class="list-group-item" id="course{{ course.id }}">
							  	<div class="row">
									<div class="col-xs-8">
										<span class="course_name">{{ course|upper }}</span>
									</div>
									<div class="col-xs-2">
										<button class="course_buttons" onclick="openPopUp('{% url 'edit_course' pk=course.pk %}')"><img src="{% static "img/edit.png" %} " class="course_button"></a>
									</div>
									<div class="col-xs-2">
										<button class="course_buttons" onclick="openPopUp('{% url 'delete_course' pk=course.pk %}')"><img src="{% static "img/delete.png" %} " class="course_button"></button>
									</div>
								</div>	
							  </li>
						  	{% endfor %}
						  
						</ul>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6">
						<h3>Achievements</h3>
					</div>
					<div class="col-xs-6" style="padding-top: 10px;text-align: right;">
						<button onclick="openPopUp('{% url 'add_achievement' student_id=student.student_id %}')" class="btn btn-success">ADD ACHIEVEMENT</button>
					</div>
				</div>
				<div class="row">
					<table class="table table-condensed table-striped" id="fees_table">
						<thead>
							<tr>
								<th>Date</th>
								<th>Score</th>
								<th>Position</th>
								<th>Remarks</th>
							</tr>
						</thead>
						<tbody id="achievements">
							{% for achievement in student.achievement_set.all %}
							<tr id="achievement{{ achievement.id }}">
								<td>{{ achievement.date }}</td>
								<td>{{ achievement.score }}</td>
								<td>{{ achievement.position }}</td>
								<td>{{ achievement.remarks }}</td>
								<td>
									<button class="course_buttons" onclick="openPopUp('{% url 'edit_achievement' pk=achievement.pk %}')"><img src="{% static "img/edit.png" %} " class="course_button"></button>
									<button class="course_buttons" onclick="openPopUp('{% url 'delete_achievement' pk=achievement.pk %}')"><img src="{% static "img/delete.png" %} " class="course_button"></button>
								</td>

							</tr>
							{% endfor %}
						</tbody>
					</table>	
				</div>
			</div>

			<!--FEE DETAILS-->
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="row">
					<div class="col-xs-6">
						<h3>Fee Details</h3>
					</div>
					<div class="col-xs-6" style="padding-top: 10px;text-align: right;">
						<button type="button" class="btn btn-success" onclick="openPopUp('{% url 'add_fee' student_id=student.student_id %}')">ADD FEE</button>
					</div>

				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="table-responsive">
							<table class="table table-condensed table-striped" id="fees_table">
								 <thead>
							      <tr>
							        <th>DATE</th>
							        <th>FEE for DATE</th>
							        <th>AMOUNT</th>
							        <th>REMARKS</th>
							        <th>ACTIONS</th>
							      </tr>
							    </thead>
							    <tbody id="fees">
										{% for fee in student.fee_set.all %}
											<tr id="fee{{ fee.id }}">
												<td>{{ fee.date }}</td>
												<td>
													{% if fee.fee_for_month %}
														{{ fee.get_fee_for_month_display }} {{ fee.fee_for_year }}
													{% endif %}
												</td>
												<td>Rs.{{ fee.amount }}</td>
												<td>{{ fee.remarks }}</td>
												<td>
														<button class="course_buttons" onclick="openPopUp('{% url 'edit_fee' pk=fee.pk %}')"><img src="{% static "img/edit.png" %} " class="course_button"></button>
														<button class="course_buttons" onclick="openPopUp('{% url 'delete_fee' pk=fee.pk %}')"><img src="{% static "img/delete.png" %} " class="course_button"></button>
												</td>
											</tr>
										{% endfor %}
							    </tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

{% endblock %}
